body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

  margin: 0px;

  background-color: #000000;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
}

button {
  cursor: pointer;
}

a,
a:visited {
  color: #e3e3e3;
  text-decoration: none;
}

a:hover {
  color: #c3c3c3;
  text-decoration: underline;
}

.img-responsiva {
  width: 100%;
  height: auto;
}

.imagem-background {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}

.text-centralizado {
  text-align: center;
}

.conteudo-base {
  padding: 16px 0px;
}

.lista-base {
  padding: 0px;
  list-style-type: none;
}

#perfil {
  height: calc(100% - 80px);
  max-height: 600px;
}

#inicio {
  background: no-repeat url("../header/background.gif");
  background-size: cover;
  background-color: #575757;
  background-blend-mode: multiply;

  padding-top: 97px;
}

.pagina-cabecalho {
  background-color: #131514;
}

.pagina-cabecalho.pagina-cabecalho-inicio {
  position: absolute;
  width: 100%;
  background-color: transparent;
}

.pagina-cabecalho .cabecalho-logo {
  width: 70px;
  height: auto;
}

.pagina-cabecalho .cabecalho-logo.cabecalho-logo--maior {
  width: 138px;
}

.pagina-cabecalho .navbar-toggler {
  color: #e3e3e3;
  border-color: #e3e3e3;
}

.pagina-cabecalho .navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/*.titulo-destaque {
  font-size: 30px;
}*/

.bloco-perfil-base {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
}

.bloco-perfil {
  cursor: pointer;

  color: #555354;
  font-weight: bold;

  margin: 6px 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  transition: color 0.15 ease-in-out;
}

.bloco-perfil img:hover {
  border: 3px solid #d6c5c4;
}

.bloco-perfil button:hover {
  background-color: #f9fafb;
  border-color: #f9fafb;

  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    -9px -32px 43px -16px rgba(214, 197, 196, 0);
  box-shadow: 0px 10px 13px -7px #000000,
    -9px -32px 43px -16px rgba(214, 197, 196, 0);
}

.bloco-perfil:hover {
  color: #cecece;
  text-decoration: none;
}

.bloco-perfil img {
  min-width: 132px;
  max-width: 150px;
}

.bloco-perfil .perfil-img-conteudo {
  /* border: 3px solid #1e1e20; */
  height: 100%;
}

.bloco-perfil .bloco-acao {
  height: 100%;
  display: flex;
  justify-content: center;
}

.bloco-perfil button {
  margin: 32px;

  font-size: 60px;
  font-weight: bold;

  width: 80px;
  height: 80px;
  background-color: #828083;

  border-radius: 50%;
  border: initial;
}

.bloco-perfil button span {
  position: relative;
  top: -15px;

  color: #151316;
}

.titulo-inicio {
  margin: auto;
  max-width: 580px;
}

.bloco-inicio-base {
  height: calc(100% - 120px);
  max-height: 920px;
}

.separador-conteudo {
  border-bottom: 10px solid #222222;
}

.navegacao-rodape--esticado {
  padding-right: 150px;
}

.navegacao-rodape--esticado li {
  width: 20%;
}

.navegacao-rodape {
  list-style: none;
  padding-left: initial;

  display: flex;
  flex-wrap: wrap;
}

.navegacao-rodape li {
  font-size: 12px;

  width: 20%;
  min-width: 140px;
  margin: 4px 0px;
}

.navegacao-rodape li a {
  color: #757575;
}

.lista-navegacao {
  list-style: none;
  padding-left: initial;
  margin-bottom: initial;
}

.lista-navegacao li {
  padding: 10px 12px;
}

.bloco-busca {
  border: 1px solid #c2c2c2;
  padding: 4px;
  display: none;
}

.bloco-busca input {
  border: initial;
  background: transparent;
  color: #c2c2c2;
  min-width: 180px;
}

.bloco-busca input:focus-visible {
  outline: initial;
}

.bloco-busca ::placeholder {
  color: #757575;
  opacity: 1; /* firefox */
}

a.menu-perfil figure {
  width: 50px;

  margin-bottom: initial;
}

a.menu-perfil:hover {
  text-decoration: none;
}

.menu-perfil-itens {
  left: -50px !important;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.15);
}

.menu-perfil-itens-scroll {
  left: -100px !important;
  height: 350px;

  overflow-y: auto;
}

.menu-perfil-itens figure {
  width: 35px;

  margin-bottom: initial;
}

.bloco-novidades-itens li a .bloco-novidades-textos p {
  margin-bottom: 0px;
}

.bloco-novidades-itens li {
  padding: 4px 0px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.15);
}
.bloco-novidades-itens li:last-of-type {
  border-bottom-width: 0px;
}

.bloco-novidades-itens li a {
  padding-top: 6px;
  padding-bottom: 6px;
}

.bloco-novidades-itens img {
  max-width: 104px;
  border-radius: 4px;
}

.bloco-novidades-itens a:hover {
  text-decoration: none;
}

.bloco-novidades-itens .bloco-novidades-text small {
  color: #757575;
}

.copyright {
  font-size: 10px;
  color: #575757;
}

footer .btn-outline-light--footer {
  color: #757575;
  border-color: #757575;
}

.listagem-filmes.listagem-filmes--linha {
  margin-left: -8px;
  margin-right: -8px;
}

.listagem-filmes .listagem-filmes-item {
  width: 20%;
  padding: 1px;
  height: 117px;
}

.listagem-filmes .listagem-filmes-item.listagem-filmes-item--conteudo {
  height: auto;
  padding: 12px 8px 0px 8px;
}

.listagem-filmes .listagem-filmes-item .listagem-filmes-descricao {
  font-size: 13px;
  color: #757575;
}

.listagem-filmes .listagem-filmes-item .listagem-filmes-minutos {
  font-size: 14px;
  color: #757575;
}

.listagem-filmes .listagem-filmes-item .listagem-filmes-miniatura {
  position: relative;
}

.listagem-filmes .listagem-filmes-item .listagem-filmes-miniatura::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20%;
  background-image: linear-gradient(
    top,
    rgba(0, 0, 0, 0.8) 5% rgba(0, 0, 0) 95%
  );
}

.listagem-filmes
  .listagem-filmes-item:not(.listagem-filmes-item-conteudo):first-child {
  padding-left: 0px;
}

.listagem-filmes .listagem-filmes-item a {
  display: block;
  text-decoration: none;
  /* max-width: 215px;*/
}

#accordionPerguntas.accordion {
  max-width: 750px;
  width: 100%;

  margin: 30px auto 0px auto;

  background-color: transparent;
}

#accordionPerguntas .accordion-item {
  margin: 8px 0px;
  border: initial;
  border-radius: initial;

  background-color: transparent;
}

#accordionPerguntas .accordion-header .accordion-button,
#accordionPerguntas .accordion-body {
  border-radius: initial;
  background-color: #303030;
  color: white;

  padding: 22px 20px;
}

.carousel .carousel-navegacao {
  position: absolute;
  top: -25px;
  right: 0px;
  left: initial;
  margin: 0px;
  z-index: 1;
}

/*.carousel .carousel-navegacao button {
  border: none;
  background-color: #555354;
} */

.carousel-control-next,
.carousel-control-prev {
  width: 100%;
  height: 100%;
  max-height: 127px;
  max-width: 75px;
  min-width: 38px;
  z-index: 2;
  /*bottom: initial;*/
}

.carousel-control-next:hover,
.carousel-control-prev:hover {
  opacity: 1;
  background-color: rgba(46, 46, 46, 0.6);
}

/*.menu-mobile {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 3;  
} */

.menu-mobile > div {
  height: inherit;
  background-color: rgba(0, 0, 0, 0.7);
  border: 2px solid rgba(255, 255, 255, 0.15);
  border-right-width: 0px;
  border-left-width: 0px;
}

.navbar-toggler {
  border-width: 0px;
  padding: 9px 4px;
}

.navbar-toggler:focus {
  box-shadow: initial;
  color: white;
}

.header-icons {
  font-size: 26px;
}

#blocoNovidades .badge {
  top: 0px;
  /*right: -15px;*/
}

.filme-infos {
  max-width: 500px;
  padding: 30px 36px;
}

.filme-infos img {
  max-width: 220px;
}

.filme-infos ul li .info-indicativa {
  border: 1px solid #757575;
  padding: 0px 4px;
  font-size: 14px;
}

.filme-infos ul {
  list-style-type: none;
  padding-left: 0px;
}

.filme-infos ul li {
  position: relative;
  padding: 4px 8px;
  color: #757575;

  /*border-right: 2px solid #dee2e6;*/
}

.filme-infos ul li::after {
  position: absolute;
  content: "";
  height: 50%;
  width: 2px;
  background-color: #757575;
  right: -1px;
  top: 0;
  bottom: 0px;
  margin: auto;
}

.filme-infos ul li:last-of-type::after {
  content: initial;
}

.filme-infos .infos-categoria {
  color: #757575;
}

.filme-infos .filme-acoes button {
  margin: 0px 4px;
}

.filme-infos .filme-acoes button:first-of-type {
  margin-left: 0px;
  margin-right: 12px;
}

.filme-infos .filme-acoes button:last-of-type {
  margin-right: 0px;
}

.filme-background {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000;
}

.filme-background > .row {
  background: black;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 5%,
    rgba(0, 0, 0, 0.6839110644257703) 60%,
    rgba(0, 30, 36, 0) 100%
  );
}

@media screen and (min-width: 768px) {
  .form-inicio .form-control {
    min-width: calc(1.5rem + 1rem + 2px);
    padding: 0.5rem 1rem;
    font-size: 1.25rem;

    width: 420px;
  }

  .form-inicio .form-control:focus,
  .form-inicio .btn:focus {
    box-shadow: initial;
  }

  .form-inicio .btn {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 992px) {
  .titulo-inicio {
    margin: auto;
    max-width: 580px;
  }
}

@media screen and (max-width: 768px) {
  .titulo-destaque {
    font-size: 26px;
  }

  .bloco-perfil .perfil-img-conteudo {
    display: flex;
    justify-content: center;
  }

  .bloco-perfil {
    width: 100%;
    min-width: 150px;
  }

  .navegacao-rodape--esticado {
    padding-right: initial;
  }

  .menu-perfil-itens {
    left: 0px !important;
  }

  .header-icons {
    font-size: 26px;
  }

  #blocoNovidades .badge {
    font-size: 10px;
    top: 10px;
  }

  .filme-background > .row {
    background: black;
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 1) 5%,
      rgba(0, 0, 0, 0.6839110644257703) 100%
    );
  }

  .listagem-filmes .listagem-filmes-item.listagem-filmes-item--conteudo {
    width: 33%;
  }

  .carousel-control-next,
  .carousel-control-prev {
    width: 8%;
    max-height: initial;
    max-width: initial;
  }

  .carousel-control-next .carousel-next-icon,
  .carousel-control-prev .carousel-prev-icon {
    font-size: 30px;
  }
}

@media screen and (max-width: 576px) {
  .titulo-destaque {
    font-size: 20px;
  }

  .pagina-cabecalho {
    background-color: transparent;
  }

  .pagina-cabecalho .cabecalho-logo {
    width: 90px;
  }

  .bloco-perfil {
    margin: 8px 10px;
  }

  .listagem-filmes .listagem-filmes-item.listagem-filmes-item--conteudo {
    width: 50%;
  }
}
